.products-section
    display: flex
    flex-direction: column
    row-gap: 24px

.products-section__header
    display: flex
    align-items: center
    justify-content: space-between

.products-section__cards
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    gap: 24px