.header
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    padding: 40px 24px 24px 24px

.header__sub-title
    font-size: .9rem
    font-weight: 400

@media screen and ( max-width: 426px )
    .header
        flex-direction: column
        row-gap: 12px