.user-storage
    border-radius: 20px
    padding: 20px
    display: flex
    flex-direction: column
    align-items: center

.user-storage__img
    margin-bottom: 8px

.user-storage__content
    display: flex
    flex-direction: column
    align-items: center
    row-gap: 6px